
.allbums{
    border-radius: 5rem !important;
}

.cardM{
    border: none !important;
    border-bottom: 1px solid silver !important;
}

.cardMusics:hover{
    background-color: rgb(77, 77, 72) !important;
}