/* AllContents */
.AllContent {
    height: 35rem;
    margin-top: 4.2rem;
    backdrop-filter: blur(100px);
}


/* containers */
.container & .row1 {
    display: flex;
}

.container {
    margin-top: 4.5em;
}


/* player list */
.PlayerList {
    width: 100%;
    margin-top: 1.8rem;
}

.containerPlayList {
    height: 15.7vw;
    border: 1px solid rgb(156, 156, 147);
    border-radius: .5rem;
    background-color: #1b1b1d;
    box-shadow: 2px -2px 7px rgb(0, 0, 0), -2px -2px 5px rgb(8, 8, 8), 1px 1px 20px rgb(0, 0, 0);
    padding: 1rem;
    overflow: hidden;
}




.titleListMusic {
    margin: -1rem -1rem 0 -1rem;
    background-color: #0c0c0f;
}

.containerPlayList::-webkit-scrollbar {
    display: none;
}

.buttonListMusics {
    display: none;
}


/* img */
.imgPlayer {
    width: 95% !important;
    border-radius: 1.5rem;
    margin-top: -3rem;
    margin-left: -.5rem;
    box-shadow: 2px 2px 19px rgb(0, 0, 0), -2px -2px 5px rgb(71, 70, 70), 1px 1px 1px rgb(0, 0, 0);
}



/*box Title Music*/
.box2 {
    width: 100vw;
    border-radius: 0 1rem 0 1rem;
    margin-top: -2.7rem;
    box-shadow: 1px 1px 20px rgb(8, 10, 10), -1px -1px 10px rgb(54, 49, 49),
        3px 3px 50px rgb(31, 36, 37);
}

.TitlePlayer {
    text-shadow: 0 0 5px #d1c9c9, 0 0 10px #555454, 0 0 25px #414344, 0 0 30px #0073e6;
    text-align: center;
    margin: 2.6vw;
}

/* text Music */
.textMusic {
    width: 50%;
    height: 40%;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    border-radius: .5rem;
    background-color: rgb(7, 17, 73);
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
}

/* text content */
.textContent {
    padding: 0 .5rem;
    border-radius: .3rem;
}

.textMusic::-webkit-scrollbar {
    width: .5rem;
    background-color: #cedbe8;
    border-radius: 1rem;
}

.textMusic::-webkit-scrollbar-thumb {
    background: #1056b1 !important;
    border-radius: .2rem;
}

.textMusic::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px #545468 !important;
    border-radius: 10px;
}





/* player music box */
.boxControl {
    margin-top: 2rem;
    width: 70%;
    padding: 1rem;
    border-radius: 50rem;
    box-shadow: 1px 1px 20px rgb(7, 170, 211);
}



/* list musics & filders */
.PlayListContainerFolder {
    height: 12.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.PlayListContainerFolder::-webkit-scrollbar {
    display: none;
}

.PlayListContentMusics {
    height: 12.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.PlayListContentMusics::-webkit-scrollbar {
    display: none;
}



/* responsive */
@media only screen and (max-width: 768px) {
    .AllContent {
        height: 45rem;
        margin-top: 1rem !important;
        backdrop-filter: blur(100px);

    }

    .container {
        margin-top: 2em;
    }

    .row1 {
        flex-direction: column !important;
    }

    .imgPlayer {
        width: 80% !important;
        margin: auto !important;
        margin-right: 0 !important;
        margin-left: 2.3rem !important;
        margin-top: -.8rem !important;
    }


    .box2 {
        width: 100vw;
        height: 10rem !important;
        margin-top: 1.8rem;
        height: 50vw !important;
    }

    .TitlePlayer {
        text-shadow: 0 0 5px #d1c9c9, 0 0 10px #555454, 0 0 25px #414344, 0 0 30px #0073e6;
        text-align: center;
        margin: 2.6vw;
    }

    .textMusic {
        width: 100%;
        height: 40% !important;
    }

    .textContent {
        width: 100%;

    }

    .footerTitle {
        margin: 1rem 0 !important;
    }




    .PlayerList {
        width: 0;
        height: 0;
        border-radius: 2vw;
        background-color: rgb(135, 132, 143);
        position: absolute;
        z-index: 2;
        top: 2rem;
        right: 3.3vw;
        transition: all 1s;
        overflow: hidden;
    }

    .containerPlayList {
        height: 42vw;
    }
    
    .PlayListContainerFolder {
        height: 6.7rem;
 
    }
    .PlayListContentMusics {
        height: 6.7rem;
    }

    .buttonListMusics {
        display: inline;
        padding: 0 1vw;
        margin-right: -1rem !important;
        position: relative !important;
        float: right;
        border-radius: .2rem !important;
    }



    .imgPlayer {
        margin-top: -1.5rem;
    }

    .boxControl {
        width: 100%;
        padding: 1em !important;
        margin-top: 1.5rem;
        border-radius: 1rem !important;
        backdrop-filter: blur(200px);
        background-color: #2e3031;
        box-shadow: 1px 1px 10px rgb(7, 170, 211);
        margin-left: .2rem;

    }

}






/* style to music player */
audio {
    width: 50%;
    border-radius: .2rem;

}

audio::-webkit-media-controls-panel {
    flex-wrap: wrap;
    background: none !important;
    backdrop-filter: blur(50px);
}

audio::-webkit-media-controls-mute-button {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    font-size: large;
    font-family: Merienda, Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 10px #0073e6;
}

audio::-webkit-media-controls-enclosure {
    background-color: #9da6ce;
}