/* AllContents */
.AllContent {
    height: 35rem;
    margin-top: 4.2rem;
    backdrop-filter: blur(100px);
    box-shadow: 2px 2px 20px rgb(2, 2, 2) , -2px -2px 10px rgb(0, 0, 0);
    border-radius: 1rem;
}

/* containers */
.container & .row1 {
    display: flex;
}

.container {
    margin-top: 4.5em;
}

/* img */
.imgPlayer {
    width: 95% !important;
    border-radius: 1.5rem;
    margin-top: -3rem;
    margin-left: -.5rem;
    box-shadow: 2px 2px 19px rgb(0, 0, 0), -2px -2px 5px rgb(71, 70, 70), 1px 1px 1px rgb(0, 0, 0);
}


/* responsive */
@media only screen and (max-width: 768px) {
    .AllContent {
        height: 45rem;
        margin-top: 1rem !important;
        backdrop-filter: blur(100px);

    }

    .container {
        margin-top: 2em;
    }

    .row1 {
        flex-direction: column !important;
    }

    .imgPlayer {
        width: 80% !important;
        margin: auto !important;
        margin-right: 0 !important;
        margin-left: 2.3rem !important;
        margin-top: -.8rem !important;
    }


    .box2 {
        width: 100vw;
        height: 10rem !important;
        margin-top: 1.8rem;
        height: 50vw !important;
    }

    .TitlePlayer {
        text-shadow: 0 0 5px #d1c9c9, 0 0 10px #555454, 0 0 25px #414344, 0 0 30px #0073e6;
        text-align: center;
        margin: 2.6vw;
    }

    .textMusic {
        width: 100%;
        height: 40% !important;
    }

    .textContent {
        width: 100%;

    }

    .footerTitle {
        margin: 1rem 0 !important;
    }




    .PlayerList {
        width: 0;
        height: 0;
        border-radius: 2vw;
        background-color: rgb(135, 132, 143);
        position: absolute;
        z-index: 2;
        top: 2rem;
        right: 3.3vw;
        transition: all 1s;
        overflow: hidden;
    }

    .containerPlayList {
        height: 42vw;
    }
    
    .PlayListContainerFolder {
        height: 6.7rem;
 
    }
    .PlayListContentMusics {
        height: 6.7rem;
    }

    .buttonListMusics {
        display: inline;
        padding: 0 1vw;
        margin-right: -1rem !important;
        position: relative !important;
        float: right;
        border-radius: .2rem !important;
    }



    .imgPlayer {
        margin-top: -1.5rem;
    }

    .boxControl {
        width: 100%;
        padding: 1em !important;
        margin-top: 1.5rem;
        border-radius: 1rem !important;
        backdrop-filter: blur(200px);
        background-color: #2e3031;
        box-shadow: 1px 1px 10px rgb(7, 170, 211);
        margin-left: .2rem;

    }

}





