.card-img-top {
    width: 30%;
    margin: auto;
    box-shadow: 2px 2px 5px rgb(19, 19, 20);
}


.backgroundFirstpage {
    background: none !important;
    backdrop-filter: blur(180px) !important;
    border-radius: 3rem;
    border: 1.5px solid rgb(134, 134, 141);
    box-shadow: 3px 4px 18px rgb(10, 10, 10), -2px -2px 5px rgb(3, 3, 3);
}

.textOne {
    font-size: 6vw;
    font-family: "Servillana", Georgia, 'Times New Roman', Times, serif;
}

.textTwo {
    width: 40vw;
    border-radius: 2rem;
    margin: 1.3rem auto;
    font-size: 4.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: color infinite 3s;
    color: aqua !important;
}

.fa-play {
    animation: shake infinite 1s;
}




/* animations */

@keyframes color {
    10% {
        background-color: rgb(7, 6, 6);
    }

    100% {
        background-color: rgb(78, 75, 75);
    }

}

@keyframes shake {
    0% {
        transform: scale(.5);
        color: black;
    }
}




/* responsive option*/



@media screen and (min-width: 1024px){
    .containerFirstPage{
        margin-top: 9% !important;
    }
}

@media screen and (min-width:328px) , (max-width: 768px){
    .containerFirstPage{
        margin-top: 31%;
    }
}


@media screen and (min-width: 0px) , (max-width: 327px) {
    .containerFirstPage{
        margin-top: 40%;
    }
}


