
.musics{
    border-radius: 5rem !important;
}

.cardF{
    border: none !important;
    border-bottom: 1px solid silver !important;
}

.cardList:hover{
    background-color: rgb(77, 77, 72) !important;
}